<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>电子书城</title>
    <link rel="stylesheet" href="/client/css/main.css" type="text/css"/>

    <script type="text/javascript" src="/client/js/my.js">

    </script>
</head>
<body>
<div th:insert="~{client/head.html}"></div>
<div th:insert="~{client/menu_search.html}"></div>


<div id="divcontent">
    <table width="850px" border="0" cellspacing="0">
        <tr>
            <td style="padding:30px; text-align:center">
                <table width="60%"
                       border="0" cellspacing="0" style="margin-top:70px">
                    <tr>
                        <td style="width:98">
                            <img src="/client/images/IconTexto_WebDev_009.jpg" width="128" height="128"/>
                        </td>
                        <td style="padding-top:30px">
                            <font style="font-weight:bold; color:#FF0000">支付成功</font><br/><br/>
                            <a href="/page/goback">
                                <span id="second">5</span>秒后自动为您转跳回首页
                            </a>
                        </td>
                    </tr>
                </table>
                <h1>&nbsp;</h1>
            </td>
        </tr>
    </table>
</div>
<div th:insert="~{client/foot}"></div>
</body>
</html>